@import "../../styles/mixin";
@import "../../styles/colors";

.HeroSection {
  flex: 0 0 100%;
  max-height: 100%;
  padding: 0 10%;
  display: flex;
  position: relative;
  overflow: hidden;
  .texts {
    z-index: 1;
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      font-size: 90px;
      font-family: Secular One;
      line-height: 1.3;
      color: $text-color;
      margin-bottom: 10px;
      span {
        font-size: 80px;
        color: $secondary-color;
      }
    }
    .desc {
      font-size: 26px;
      color: $secondary-color;
    }
    .btnHireMe {
      margin-top: 20px;
      height: 55px;
      width: fit-content;
      background: $primary-color;
      color: white;
      padding: 0 40px;
      border: 1px solid $primary-color;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include btn-animate($primary-color);
      &:hover {
        background: white;
        color: $primary-color;
      }
    }
  }
  .bg {
    z-index: 1;
    flex: 1;
    background: url("/assets/bg/me.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .bgCircle {
    background-color: $gray-color;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(35%, 40%);
    transition: all 400ms ease;
  }
  @include mdportrait {
    flex-direction: column;
    padding-top: 90px;
    .texts {
      .title {
        font-size: 50px;
        span {
          font-size: 45px;
        }
      }
      .desc {
        font-size: 18px;
      }
      .btnHireMe {
        margin-top: 10px;
        height: 40px;
        padding: 0 30px;
        font-size: 18px;
      }
    }
    .bg {
      z-index: 1;
      flex: 1;
      background: url("/assets/bg/me.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .bgCircle {
      transform: translate(35%, 40%) scale(0.7);
    }
  }
}
