@import "../../styles/mixin";
@import "../../styles/colors";

.aboutMySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  .topLine {
    margin: 10px auto 90px auto;
    width: 65%;
    border-color: $border-color;
    border-width: 1px;
    border-style: solid none none none;
  }
  .title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 60px;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    .skillCard {
      flex: 0 0 22%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 90px;
      .svgWrap {
        width: 45%;
        position: relative;
        .percent {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-weight: 600;
            font-size: 30px;
            color: gray;
          }
        }
      }
      .label {
        margin-top: 8px;
        font-size: 20px;
        font-weight: 500;
        color: gray;
      }
    }
  }
  @include mdportrait {
    .title {
      font-size: 30px;
    }
    .skills {
      .skillCard {
        flex: 0 0 45%;
        margin-bottom: 70px;
        .svgWrap {
          width: 65%;
          .percent {
            span {
              font-size: 24px;
            }
          }
        }
        .label {
          font-size: 15px;
        }
      }
    }
  }
}
