@import "../../styles/mixin";
@import "../../styles/colors";

.container {
  height: 0 !important;
  flex: 1;
  .containerIn {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    // scroll-snap-type: y proximity;
  }
  .scrollTrack {
    z-index: 10;
    position: absolute;
    width: 6px;
    right: 2px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
    cursor: pointer;
  }
  @include xxxl {
    zoom: 0.8;
  }
  @include xxl {
    zoom: 0.7;
  }
  @include xl {
    zoom: 0.6;
  }
  @include lg {
    zoom: 0.5;
  }
  @include mdlscape {
    zoom: 0.35;
  }
  @include smlscape {
    zoom: 0.25;
  }
  @include mdportrait {
    zoom: 1;
    .containerIn {
      padding-bottom: 70px;
    }
  }
}
